<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>registerServlet</servlet-name>
  	<display-name>registerServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.registerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.servlets.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logoutservlet</servlet-name>
  	<display-name>logoutservlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.logoutservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>productOperationServlet</servlet-name>
  	<display-name>productOperationServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.productOperationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>searchServlet</servlet-name>
  	<display-name>searchServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.searchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>registerServlet</servlet-name>
  	<url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logoutservlet</servlet-name>
  	<url-pattern>/logoutservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>productOperationServlet</servlet-name>
  	<url-pattern>/productOperationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchServlet</servlet-name>
  	<url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
</web-app>
